@charset "UTF-8";
/* CSS Document */

.bigimage {
    padding-bottom: 10px;
}

.main_description {
    color: black;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.main_description > span {
    color: gray;
    font-size: 1.0rem;
    font-weight: normal;
}

.list_ok > li > span {
    margin-left: 5vh;
}

.main_title > h2 > span.month {
    margin: 0 10vh;
}

hr.near-place-hr {
    margin: 10px auto;
}

.near-place-image {
    margin: 10px auto;
}

div.near-place-name {
    font-size: 1.1rem;
    font-weight: bold;
    color: dodgerblue;
    margin: 5px 0px;
}

div.near-place-name > span {
    margin-left: 1vh;
    font-size: 0.9rem;
    font-weight: normal;
    color: #a7a7a7;
}

div.near-place-info > a {
    color: #333;
    text-decoration: none; !important
}

div.near-place-score {
    color: #333;
    font-size: 0.9rem;
}

div.near-place-score > .star {
    color: orangered;
    font-size: 1.2rem;
}

div.near-place-score > span.near-place-tel {
    font-size: 0.8rem;
    border-left: 1px solid #a7a7a7;
    margin-left: 1vh;
    padding-left: 1vh;
}

div.near-place-text {
    text-align: center;
}

.basic_button {
    margin-top: 15px;
    text-align: center;
}

.customer_info {
    font-size: 1.2rem;
}

.customer_info > span {
    font-size: 1.2rem;
    font-weight: bold;
    color: cadetblue;
    padding-left: 1vh;
}

.customer_question {
    font-size: 1.05rem;
    color: darkslategrey;
    margin-bottom: 3vh;
}

.check_items {
    text-align: left;
}

div.form-group > label {
    font-size: 1rem;
    font-weight: 500;
    color: darkslategrey;
}


<!--카카오지도 표시-->
#mapwrap{position:relative;overflow:hidden;}
.category, .category *{margin:0;padding:0;color:#000;}   
.category {position:absolute;overflow:hidden;top:10px;left:10px;width:150px;height:50px;z-index:10;border:1px solid black;font-family:'Malgun Gothic','맑은 고딕',sans-serif;font-size:12px;text-align:center;background-color:#fff;}
.category .menu_selected {background:#FF5F4A;color:#fff;border-left:1px solid #915B2F;border-right:1px solid #915B2F;margin:0 -1px;} 
.category li{list-style:none;float:left;width:50px;height:45px;padding-top:5px;cursor:pointer;} 
.category .ico_comm {display:block;margin:0 auto 2px;width:22px;height:26px;background:url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/category.png') no-repeat;} 
.category .ico_coffee {background-position:-10px 0;}  
.category .ico_store {background-position:-10px -36px;}   
.category .ico_carpark {background-position:-10px -72px;} 

.rating_summary ul {
	list-style: none;
	margin: 0 0 -5px 0;
	padding: 0;
}

.rating_summary li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.rating_summary ul li .rating {
    display: inline-block;
    font-size: 14px;
    float: right;
}

.review_strip_single h4 {
    font-size: 18px;
    margin: -12px 0 35px 0px;
    margin-top: -12px;
    margin-right: 0px;
    margin-bottom: 35px;

    padding: 0;
}
	 