<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="memberMapper">

<!-- 멤버 테이블 불러오기 --> 
<select id='selectMember' resultType="member">

	 SELECT * 
	 FROM member
	 
</select>

<!-- 회원가입 아 미치겠넹 ㅋㅋ ㅠㅠㅠㅠㅠ돌겠네... 재부팅각함잡자용 오케오케ㄴ -->
<insert id="memberJoin" parameterType="member">

     INSERT INTO member   (id, 	 password, 	 name, 	 tel, 	 address, 	email,	 birthday)
     VALUES 			(#{id},#{password},#{name},#{tel}, #{address},#{email}, #{birthday})
     
</insert>

<!-- 관리자: 회원추가 -->
<insert id="insertmember" parameterType="member">

     INSERT INTO member   (id,	password, name, 	 tel, 	 address, 	email,	 birthday)
     VALUES 			(#{id},	1, #{name}, #{tel}, #{address},#{email}, #{birthday})
     
</insert>

<!-- 관리자: 회원정보 수정 -->
<update id="modifyMember" parameterType="member">

	UPDATE member 
	SET id = #{id}, password = 1, name = #{name}, tel = #{tel}, address = #{address}, email = #{email}, birthday = #{birthday}
	WHERE id=#{id}

</update>

<!-- 관리자: 회원정보 삭제 -->
<delete id="deleteMember" parameterType="member">

	DELETE FROM member
	WHERE id = #{id}

</delete>

<!-- 로그인 -->
<select id="login" parameterType="member" resultType="member">
	 SELECT *
	 FROM member
	 WHERE id = #{id}
</select>


<!-- 회원가입 ID 중복체크 -->
<select id="idCheck" parameterType="member" resultType="member">

     SELECT * 
     FROM MEMBER
     WHERE id = #{id}
     
</select>

<!-- 회원가입 후 비번 찾기 -->
<select id="memberPassFind" resultType="member">
	SELECT *
	FROM member
	WHERE email = #{email}
</select>

<!-- 비번 찾을 때 정보 바꾸기 -->
<update id="memberUpdate" parameterType="member">
    UPDATE MEMBER
    SET password = #{password},
	    name = #{name},
	    tel = #{tel},
	    email = #{email},
	    address = #{address},
	    birthday = #{birthday}
	WHERE id = #{id}
</update>

<!-- 회원정보 불러오기 -->
<select id="selectOne" resultType="member">
	SELECT *
	FROM MEMBER
	WHERE id = #{user_id}
</select>

<!-- 마이페이지에서 정보변경 -->
<update id="memberUpdateMypage" parameterType="member">
    UPDATE MEMBER
    SET tel = #{tel},
	    email = #{email},
	    address = #{address}
	WHERE id = #{id}
</update>

</mapper>